.timer {
    font-size: 1.25rem; /* Adjust font size as needed */
    font-weight: bold;
    color: #333; /* Adjust text color as needed */
    padding: 0.5rem;
    padding-left: 0;
    border-radius: 4px;
    text-align: left;
    font-size: 10px;
    flex: 1; /* Take up available space */
}