/* src/components/Logo.css */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.logo img {
    max-width: 300px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
